.elementor-widget-heading .elementor-heading-title {color: #6ec1e4;font-family: "Roboto",Sans-serif;font-weight: 600;}
.elementor-widget-image .widget-image-caption {color: #7a7a7a;font-family: "Roboto",Sans-serif;font-weight: 400;}
.elementor-widget-text-editor {color: #7a7a7a;font-family: "Roboto",Sans-serif;font-weight: 400;}
.elementor-widget-text-editor.elementor-drop-cap-view-stacked .elementor-drop-cap {background-color: #6ec1e4;}
.elementor-widget-text-editor.elementor-drop-cap-view-framed .elementor-drop-cap, .elementor-widget-text-editor.elementor-drop-cap-view-default .elementor-drop-cap {color: #6ec1e4;border-color: #6ec1e4;}
.elementor-widget-button .elementor-button {font-family: "Roboto",Sans-serif;font-weight: 500;background-color: #61ce70;}
.elementor-widget-divider {--divider-border-color: #54595f;}
.elementor-widget-divider .elementor-divider__text {color: #54595f;font-family: "Roboto Slab",Sans-serif;font-weight: 400;}
.elementor-widget-divider.elementor-view-stacked .elementor-icon {background-color: #54595f;}
.elementor-widget-divider.elementor-view-framed .elementor-icon, .elementor-widget-divider.elementor-view-default .elementor-icon {color: #54595f;border-color: #54595f;}
.elementor-widget-divider.elementor-view-framed .elementor-icon, .elementor-widget-divider.elementor-view-default .elementor-icon svg {fill: #54595f;}
.elementor-widget-image-box .elementor-image-box-content .elementor-image-box-title {color: #6ec1e4;font-family: "Roboto",Sans-serif;font-weight: 600;}
.elementor-widget-image-box .elementor-image-box-content .elementor-image-box-description {color: #7a7a7a;font-family: "Roboto",Sans-serif;font-weight: 400;}
.elementor-widget-icon.elementor-view-stacked .elementor-icon {background-color: #6ec1e4;}
.elementor-widget-icon.elementor-view-framed .elementor-icon, .elementor-widget-icon.elementor-view-default .elementor-icon {color: #6ec1e4;border-color: #6ec1e4;}
.elementor-widget-icon.elementor-view-framed .elementor-icon, .elementor-widget-icon.elementor-view-default .elementor-icon svg {fill: #6ec1e4;}
.elementor-widget-icon-box.elementor-view-stacked .elementor-icon {background-color: #6ec1e4;}
.elementor-widget-icon-box.elementor-view-framed .elementor-icon, .elementor-widget-icon-box.elementor-view-default .elementor-icon {fill: #6ec1e4;color: #6ec1e4;border-color: #6ec1e4;}
.elementor-widget-icon-box .elementor-icon-box-content .elementor-icon-box-title {color: #6ec1e4;font-family: "Roboto",Sans-serif;font-weight: 600;}
.elementor-widget-icon-box .elementor-icon-box-content .elementor-icon-box-description {color: #7a7a7a;font-family: "Roboto",Sans-serif;font-weight: 400;}
.elementor-widget-star-rating .elementor-star-rating__title {color: #7a7a7a;font-family: "Roboto",Sans-serif;font-weight: 400;}
.elementor-widget-image-carousel .elementor-image-carousel-caption {font-family: "Roboto",Sans-serif;font-weight: 500;}
.elementor-widget-image-gallery .gallery-item .gallery-caption {font-family: "Roboto",Sans-serif;font-weight: 500;}
.elementor-widget-icon-list .elementor-icon-list-item:not(:last-child):after {border-color: #7a7a7a;}
.elementor-widget-icon-list .elementor-icon-list-icon i {color: #6ec1e4;}
.elementor-widget-icon-list .elementor-icon-list-icon svg {fill: #6ec1e4;}
.elementor-widget-icon-list .elementor-icon-list-text {color: #54595f;}
.elementor-widget-icon-list .elementor-icon-list-item {font-family: "Roboto",Sans-serif;font-weight: 400;}
.elementor-widget-counter .elementor-counter-number-wrapper {color: #6ec1e4;font-family: "Roboto",Sans-serif;font-weight: 600;}
.elementor-widget-counter .elementor-counter-title {color: #54595f;font-family: "Roboto Slab",Sans-serif;font-weight: 400;}
.elementor-widget-progress .elementor-progress-wrapper .elementor-progress-bar {background-color: #6ec1e4;}
.elementor-widget-progress .elementor-title {color: #6ec1e4;font-family: "Roboto",Sans-serif;font-weight: 400;}
.elementor-widget-testimonial .elementor-testimonial-content {color: #7a7a7a;font-family: "Roboto",Sans-serif;font-weight: 400;}
.elementor-widget-testimonial .elementor-testimonial-name {color: #6ec1e4;font-family: "Roboto",Sans-serif;font-weight: 600;}
.elementor-widget-testimonial .elementor-testimonial-job {color: #54595f;font-family: "Roboto Slab",Sans-serif;font-weight: 400;}
.elementor-widget-tabs .elementor-tab-title, .elementor-widget-tabs .elementor-tab-title a {color: #6ec1e4;}
.elementor-widget-tabs .elementor-tab-title.elementor-active a {color: #61ce70;}
.elementor-widget-tabs .elementor-tab-title {font-family: "Roboto",Sans-serif;font-weight: 600;}
.elementor-widget-tabs .elementor-tab-content {color: #7a7a7a;font-family: "Roboto",Sans-serif;font-weight: 400;}
.elementor-widget-accordion .elementor-accordion-icon, .elementor-widget-accordion .elementor-accordion-title {color: #6ec1e4;}
.elementor-widget-accordion .elementor-active .elementor-accordion-icon, .elementor-widget-accordion .elementor-active .elementor-accordion-title {color: #61ce70;}
.elementor-widget-accordion .elementor-accordion .elementor-accordion-title {font-family: "Roboto",Sans-serif;font-weight: 600;}
.elementor-widget-accordion .elementor-accordion .elementor-tab-content {color: #7a7a7a;font-family: "Roboto",Sans-serif;font-weight: 400;}
.elementor-widget-toggle .elementor-toggle-title, .elementor-widget-toggle .elementor-toggle-icon {color: #6ec1e4;}
.elementor-widget-toggle .elementor-tab-title.elementor-active a, .elementor-widget-toggle .elementor-tab-title.elementor-active .elementor-toggle-icon {color: #61ce70;}
.elementor-widget-toggle .elementor-toggle .elementor-toggle-title {font-family: "Roboto",Sans-serif;font-weight: 600;}
.elementor-widget-toggle .elementor-toggle .elementor-tab-content {color: #7a7a7a;font-family: "Roboto",Sans-serif;font-weight: 400;}
.elementor-widget-alert .elementor-alert-title {font-family: "Roboto",Sans-serif;font-weight: 600;}
.elementor-widget-alert .elementor-alert-description {font-family: "Roboto",Sans-serif;font-weight: 400;}
.elementor-widget-retina .hfe-retina-image-container .hfe-retina-img {border-color: #6ec1e4;}
.elementor-widget-retina .widget-image-caption {color: #7a7a7a;font-family: "Roboto",Sans-serif;font-weight: 400;}
.elementor-widget-copyright .hfe-copyright-wrapper a, .elementor-widget-copyright .hfe-copyright-wrapper {color: #7a7a7a;}
.elementor-widget-copyright .hfe-copyright-wrapper, .elementor-widget-copyright .hfe-copyright-wrapper a {font-family: "Roboto",Sans-serif;font-weight: 400;}
.elementor-widget-navigation-menu a.hfe-menu-item, .elementor-widget-navigation-menu a.hfe-sub-menu-item {font-family: "Roboto",Sans-serif;font-weight: 600;}
.elementor-widget-navigation-menu .menu-item a.hfe-menu-item, .elementor-widget-navigation-menu .sub-menu a.hfe-sub-menu-item {color: #7a7a7a;}
.elementor-widget-navigation-menu .menu-item a.hfe-menu-item:hover, .elementor-widget-navigation-menu .sub-menu a.hfe-sub-menu-item:hover, .elementor-widget-navigation-menu .menu-item.current-menu-item a.hfe-menu-item, .elementor-widget-navigation-menu .menu-item a.hfe-menu-item.highlighted, .elementor-widget-navigation-menu .menu-item a.hfe-menu-item:focus {color: #61ce70;}
.elementor-widget-navigation-menu .hfe-nav-menu-layout:not(.hfe-pointer__framed) .menu-item.parent a.hfe-menu-item:before, .elementor-widget-navigation-menu .hfe-nav-menu-layout:not(.hfe-pointer__framed) .menu-item.parent a.hfe-menu-item:after {background-color: #61ce70;}
.elementor-widget-navigation-menu .hfe-nav-menu-layout:not(.hfe-pointer__framed) .menu-item.parent .sub-menu .hfe-has-submenu-container a:after {background-color: unset;}
.elementor-widget-navigation-menu .hfe-pointer__framed .menu-item.parent a.hfe-menu-item:before, .elementor-widget-navigation-menu .hfe-pointer__framed .menu-item.parent a.hfe-menu-item:after {border-color: #61ce70;}
.elementor-widget-navigation-menu .sub-menu li a.hfe-sub-menu-item, .elementor-widget-navigation-menu nav.hfe-dropdown li a.hfe-sub-menu-item, .elementor-widget-navigation-menu nav.hfe-dropdown li a.hfe-menu-item, .elementor-widget-navigation-menu nav.hfe-dropdown-expandible li a.hfe-menu-item, .elementor-widget-navigation-menu nav.hfe-dropdown-expandible li a.hfe-sub-menu-item {font-family: "Roboto",Sans-serif;font-weight: 500;}
.elementor-widget-navigation-menu .menu-item a.hfe-menu-item.elementor-button {font-family: "Roboto",Sans-serif;font-weight: 500;background-color: #61ce70;}
.elementor-widget-navigation-menu .menu-item a.hfe-menu-item.elementor-button:hover {background-color: #61ce70;}
.elementor-widget-page-title .elementor-heading-title, .elementor-widget-page-title .hfe-page-title a {font-family: "Roboto",Sans-serif;font-weight: 600;color: #6ec1e4;}
.elementor-widget-page-title .hfe-page-title-icon i {color: #6ec1e4;}
.elementor-widget-page-title .hfe-page-title-icon svg {fill: #6ec1e4;}
.elementor-widget-hfe-site-title .elementor-heading-title, .elementor-widget-hfe-site-title .hfe-heading a {font-family: "Roboto",Sans-serif;font-weight: 600;}
.elementor-widget-hfe-site-title .hfe-heading-text {color: #6ec1e4;}
.elementor-widget-hfe-site-title .hfe-icon i {color: #6ec1e4;}
.elementor-widget-hfe-site-title .hfe-icon svg {fill: #6ec1e4;}
.elementor-widget-hfe-site-tagline .hfe-site-tagline {font-family: "Roboto Slab",Sans-serif;font-weight: 400;color: #54595f;}
.elementor-widget-hfe-site-tagline .hfe-icon i {color: #6ec1e4;}
.elementor-widget-hfe-site-tagline .hfe-icon svg {fill: #6ec1e4;}
.elementor-widget-site-logo .hfe-site-logo-container .hfe-site-logo-img {border-color: #6ec1e4;}
.elementor-widget-site-logo .widget-image-caption {color: #7a7a7a;font-family: "Roboto",Sans-serif;font-weight: 400;}
.elementor-widget-hfe-search-button input[type="search"].hfe-search-form__input, .elementor-widget-hfe-search-button .hfe-search-icon-toggle {font-family: "Roboto",Sans-serif;font-weight: 600;}
.elementor-widget-hfe-search-button .hfe-search-form__input {color: #7a7a7a;}
.elementor-widget-hfe-search-button .hfe-search-form__input::placeholder {color: #7a7a7a;}
.elementor-widget-hfe-search-button .hfe-search-form__container, .elementor-widget-hfe-search-button .hfe-search-icon-toggle .hfe-search-form__input, .elementor-widget-hfe-search-button .hfe-input-focus .hfe-search-icon-toggle .hfe-search-form__input {border-color: #6ec1e4;}
.elementor-widget-hfe-search-button .hfe-search-form__input:focus::placeholder {color: #7a7a7a;}
.elementor-widget-hfe-search-button .hfe-search-form__container button#clear-with-button, .elementor-widget-hfe-search-button .hfe-search-form__container button#clear, .elementor-widget-hfe-search-button .hfe-search-icon-toggle button#clear {color: #7a7a7a;}
.elementor-widget-jet-carousel  .jet-carousel__content .jet-carousel__item-title, .elementor-widget-jet-carousel .jet-banner__title {font-family: "Roboto",Sans-serif;font-weight: 400;}
.elementor-widget-jet-carousel .jet-carousel__content .jet-carousel__item-text {color: #7a7a7a;}
.elementor-widget-jet-carousel .jet-banner__text {color: #7a7a7a;}
.elementor-widget-jet-carousel  .jet-carousel__content .jet-carousel__item-text, .elementor-widget-jet-carousel .jet-banner__text {font-family: "Roboto",Sans-serif;font-weight: 400;}
.elementor-widget-jet-carousel  .jet-carousel__content .jet-carousel__item-button {font-family: "Roboto",Sans-serif;font-weight: 500;}
.elementor-widget-jet-carousel .jet-carousel__content .jet-carousel__item-button {background-color: #6ec1e4;}
.elementor-widget-jet-carousel .jet-carousel .jet-arrow {background-color: #6ec1e4;}
.elementor-widget-jet-carousel .jet-carousel .jet-arrow:hover {background-color: #6ec1e4;}
.elementor-widget-jet-carousel .jet-carousel .jet-slick-dots li span {background-color: #7a7a7a;}
.elementor-widget-jet-carousel .jet-carousel .jet-slick-dots li span:hover {background-color: #6ec1e4;}
.elementor-widget-jet-carousel .jet-carousel .jet-slick-dots li.slick-active span {background-color: #61ce70;}
.elementor-widget-jet-animated-box .jet-animated-box__front {background-color: #6ec1e4;}
.elementor-widget-jet-animated-box .jet-animated-box__back {background-color: #54595f;}
.elementor-widget-jet-animated-box .jet-animated-box__title--front {font-family: "Roboto",Sans-serif;font-weight: 400;}
.elementor-widget-jet-animated-box .jet-animated-box__title--back {font-family: "Roboto",Sans-serif;font-weight: 400;}
.elementor-widget-jet-animated-box .jet-animated-box__subtitle--front {font-family: "Roboto",Sans-serif;font-weight: 400;}
.elementor-widget-jet-animated-box .jet-animated-box__subtitle--back {font-family: "Roboto",Sans-serif;font-weight: 400;}
.elementor-widget-jet-animated-box .jet-animated-box__description--front {font-family: "Roboto",Sans-serif;font-weight: 400;}
.elementor-widget-jet-animated-box .jet-animated-box__description--back {font-family: "Roboto",Sans-serif;font-weight: 400;}
.elementor-widget-jet-animated-box .jet-animated-box__button {background-color: #6ec1e4;}
.elementor-widget-jet-animated-box  .jet-animated-box__button {font-family: "Roboto",Sans-serif;font-weight: 500;}
.elementor-widget-jet-animated-text .jet-animated-text__before-text {color: #54595f;font-family: "Roboto",Sans-serif;font-weight: 600;}
.elementor-widget-jet-animated-text .jet-animated-text__animated-text {color: #6ec1e4;font-family: "Roboto Slab",Sans-serif;font-weight: 400;}
.elementor-widget-jet-animated-text .jet-animated-text__animated-text-item:after {background-color: #6ec1e4;}
.elementor-widget-jet-animated-text .jet-animated-text__after-text {color: #7a7a7a;font-family: "Roboto",Sans-serif;font-weight: 600;}
.elementor-widget-jet-banner .jet-banner__title {font-family: "Roboto",Sans-serif;font-weight: 400;}
.elementor-widget-jet-banner .jet-banner__text {font-family: "Roboto",Sans-serif;font-weight: 400;}
.elementor-widget-jet-brands .brands-list .brands-list__item-name {color: #6ec1e4;font-family: "Roboto",Sans-serif;font-weight: 400;}
.elementor-widget-jet-brands .brands-list .brands-list__item-desc {color: #7a7a7a;font-family: "Roboto",Sans-serif;font-weight: 400;}
.elementor-widget-jet-button .jet-button__plane-normal {background-color: #6ec1e4;}
.elementor-widget-jet-button .jet-button__plane-hover {background-color: #54595f;}
.elementor-widget-jet-button  .jet-button__state-normal .jet-button__label {font-family: "Roboto",Sans-serif;font-weight: 600;}
.elementor-widget-jet-button  .jet-button__state-hover .jet-button__label {font-family: "Roboto",Sans-serif;font-weight: 600;}
.elementor-widget-jet-circle-progress .circle-counter .circle-val {color: #6ec1e4;font-family: "Roboto",Sans-serif;font-weight: 600;}
.elementor-widget-jet-circle-progress .circle-counter .circle-counter__title {color: #54595f;font-family: "Roboto",Sans-serif;font-weight: 600;}
.elementor-widget-jet-circle-progress .circle-counter .circle-counter__subtitle {color: #7a7a7a;font-family: "Roboto Slab",Sans-serif;font-weight: 400;}
.elementor-widget-jet-countdown-timer .jet-countdown-timer__item {border-color: #7a7a7a;}
.elementor-widget-jet-countdown-timer .jet-countdown-timer__item-label {color: #7a7a7a;font-family: "Roboto",Sans-serif;font-weight: 400;}
.elementor-widget-jet-countdown-timer .jet-countdown-timer__item-value {color: #6ec1e4;font-family: "Roboto",Sans-serif;font-weight: 600;}
.elementor-widget-jet-download-button  .jet-download__label {font-family: "Roboto",Sans-serif;font-weight: 500;}
.elementor-widget-jet-download-button  .jet-download__sub-label {font-family: "Roboto",Sans-serif;font-weight: 500;}
.elementor-widget-jet-download-button .jet-download:hover .jet-download__label {font-family: "Roboto",Sans-serif;font-weight: 500;}
.elementor-widget-jet-download-button .jet-download:hover .jet-download__sub-label {font-family: "Roboto",Sans-serif;font-weight: 500;}
.elementor-widget-jet-dropbar .jet-dropbar__button-text {font-family: "Roboto",Sans-serif;font-weight: 500;}
.elementor-widget-jet-dropbar .jet-dropbar__content {font-family: "Roboto",Sans-serif;font-weight: 400;}
.elementor-widget-jet-headline .jet-headline__first .jet-headline__label {color: #54595f;font-family: "Roboto",Sans-serif;font-weight: 600;}
.elementor-widget-jet-headline .jet-headline__second .jet-headline__label {color: #6ec1e4;font-family: "Roboto Slab",Sans-serif;font-weight: 400;}
.elementor-widget-jet-horizontal-timeline .jet-hor-timeline-item__card-btn {font-family: "Roboto",Sans-serif;font-weight: 500;background-color: #61ce70;}
.elementor-widget-jet-image-comparison  .jx-left .jx-label {font-family: "Roboto",Sans-serif;font-weight: 600;}
.elementor-widget-jet-image-comparison .jx-left .jx-label {background-color: #54595f;}
.elementor-widget-jet-image-comparison  .jx-right .jx-label {font-family: "Roboto",Sans-serif;font-weight: 600;}
.elementor-widget-jet-image-comparison .jx-right .jx-label {background-color: #54595f;}
.elementor-widget-jet-image-comparison .jx-slider .jx-controller {background-color: #6ec1e4;}
.elementor-widget-jet-image-comparison .jx-slider:hover .jx-controller {background-color: #54595f;}
.elementor-widget-jet-image-comparison .jet-arrow {background-color: #6ec1e4;}
.elementor-widget-jet-image-comparison .jet-arrow:hover {background-color: #61ce70;}
.elementor-widget-jet-image-comparison .jet-slick-dots li span {background-color: #7a7a7a;}
.elementor-widget-jet-image-comparison .jet-slick-dots li span:hover {background-color: #6ec1e4;}
.elementor-widget-jet-image-comparison .jet-slick-dots li.slick-active span {background-color: #61ce70;}
.elementor-widget-jet-images-layout .jet-images-layout__title {font-family: "Roboto",Sans-serif;font-weight: 400;}
.elementor-widget-jet-images-layout .jet-images-layout__desc {font-family: "Roboto",Sans-serif;font-weight: 400;}
.elementor-widget-jet-instagram-gallery .jet-instagram-gallery__content:before {background-color: #54595f;}
.elementor-widget-jet-instagram-gallery .jet-instagram-gallery__caption {font-family: "Roboto",Sans-serif;font-weight: 400;}
.elementor-widget-jet-instagram-gallery .jet-instagram-gallery__meta-label {font-family: "Roboto",Sans-serif;font-weight: 600;}
.elementor-widget-jet-portfolio  .jet-portfolio__filter-item {font-family: "Roboto",Sans-serif;font-weight: 600;}
.elementor-widget-jet-portfolio  .jet-portfolio__filter-item:hover {font-family: "Roboto",Sans-serif;font-weight: 600;}
.elementor-widget-jet-portfolio  .jet-portfolio__filter-item.active {font-family: "Roboto",Sans-serif;font-weight: 600;}
.elementor-widget-jet-portfolio .jet-portfolio__title {font-family: "Roboto",Sans-serif;font-weight: 400;}
.elementor-widget-jet-portfolio .jet-portfolio__category {font-family: "Roboto",Sans-serif;font-weight: 400;}
.elementor-widget-jet-portfolio .jet-portfolio__desc {font-family: "Roboto",Sans-serif;font-weight: 400;}
.elementor-widget-jet-portfolio .jet-portfolio__button {background-color: #6ec1e4;}
.elementor-widget-jet-portfolio  .jet-portfolio__button {font-family: "Roboto",Sans-serif;font-weight: 500;}
.elementor-widget-jet-portfolio .jet-portfolio__view-more-button {background-color: #6ec1e4;}
.elementor-widget-jet-portfolio  .jet-portfolio__view-more-button {font-family: "Roboto",Sans-serif;font-weight: 500;}
.elementor-widget-jet-posts .jet-posts .entry-title a {color: #54595f;}
.elementor-widget-jet-posts .jet-posts .entry-title a:hover {color: #54595f;}
.elementor-widget-jet-posts .jet-posts .entry-title {font-family: "Roboto",Sans-serif;font-weight: 400;}
.elementor-widget-jet-posts .jet-posts .post-meta {color: #7a7a7a;font-family: "Roboto",Sans-serif;font-weight: 400;}
.elementor-widget-jet-posts .jet-posts .entry-excerpt {font-family: "Roboto",Sans-serif;font-weight: 400;}
.elementor-widget-jet-posts .jet-posts .jet-more {background-color: #6ec1e4;}
.elementor-widget-jet-posts  .jet-posts .jet-more {font-family: "Roboto",Sans-serif;font-weight: 400;}
.elementor-widget-jet-posts .jet-posts .jet-more:hover {background-color: #6ec1e4;}
.elementor-widget-jet-posts  .jet-posts .jet-posts__terms-link {font-family: "Roboto",Sans-serif;font-weight: 500;}
.elementor-widget-jet-posts .jet-posts .jet-posts__terms-link {background-color: #6ec1e4;}
.elementor-widget-jet-posts .jet-posts .jet-posts__terms-link:hover {background-color: #6ec1e4;}
.elementor-widget-jet-posts .jet-posts .jet-arrow {background-color: #6ec1e4;}
.elementor-widget-jet-posts .jet-posts .jet-arrow:hover {background-color: #6ec1e4;}
.elementor-widget-jet-posts .jet-carousel .jet-slick-dots li span {background-color: #7a7a7a;}
.elementor-widget-jet-posts .jet-carousel .jet-slick-dots li span:hover {background-color: #6ec1e4;}
.elementor-widget-jet-posts .jet-carousel .jet-slick-dots li.slick-active span {background-color: #61ce70;}
.elementor-widget-jet-posts .jet-title-fields__item-label {font-family: "Roboto",Sans-serif;font-weight: 600;}
.elementor-widget-jet-posts .jet-content-fields__item-label {font-family: "Roboto",Sans-serif;font-weight: 600;}
.elementor-widget-jet-price-list .jet-price-list .price-list__item-title {font-family: "Roboto",Sans-serif;font-weight: 600;}
.elementor-widget-jet-price-list .jet-price-list .price-list__item-price {font-family: "Roboto",Sans-serif;font-weight: 400;}
.elementor-widget-jet-price-list .jet-price-list .price-list__item-desc {font-family: "Roboto",Sans-serif;font-weight: 400;}
.elementor-widget-jet-pricing-table .pricing-table {border-color: #7a7a7a;}
.elementor-widget-jet-pricing-table .pricing-table__title {color: #54595f;font-family: "Roboto",Sans-serif;font-weight: 400;}
.elementor-widget-jet-pricing-table .pricing-table__subtitle {color: #54595f;}
.elementor-widget-jet-pricing-table  .pricing-table__subtitle {font-family: "Roboto",Sans-serif;font-weight: 400;}
.elementor-widget-jet-pricing-table .pricing-table__icon-box > * {color: #6ec1e4;}
.elementor-widget-jet-pricing-table .pricing-table__icon-box > * svg {fill: #6ec1e4;}
.elementor-widget-jet-pricing-table .pricing-table__price-prefix {color: #6ec1e4;}
.elementor-widget-jet-pricing-table  .pricing-table__price-prefix {font-family: "Roboto",Sans-serif;font-weight: 600;}
.elementor-widget-jet-pricing-table .pricing-table__price-val {color: #6ec1e4;}
.elementor-widget-jet-pricing-table  .pricing-table__price-val {font-family: "Roboto",Sans-serif;font-weight: 600;}
.elementor-widget-jet-pricing-table .pricing-table__price-suffix {color: #6ec1e4;}
.elementor-widget-jet-pricing-table  .pricing-table__price-suffix {font-family: "Roboto",Sans-serif;font-weight: 400;}
.elementor-widget-jet-pricing-table  .pricing-table__price-desc {font-family: "Roboto",Sans-serif;font-weight: 400;}
.elementor-widget-jet-pricing-table  .pricing-feature {font-family: "Roboto",Sans-serif;font-weight: 400;}
.elementor-widget-jet-pricing-table .pricing-feature.item-included {color: #54595f;}
.elementor-widget-jet-pricing-table .pricing-feature.item-included .item-bullet {color: #61ce70;}
.elementor-widget-jet-pricing-table .pricing-feature.item-excluded {color: #7a7a7a;}
.elementor-widget-jet-pricing-table .pricing-feature.item-excluded .item-bullet {color: #7a7a7a;}
.elementor-widget-jet-pricing-table .pricing-feature:before {border-top-color: #7a7a7a;}
.elementor-widget-jet-pricing-table  .pricing-table__action {font-family: "Roboto",Sans-serif;font-weight: 400;}
.elementor-widget-jet-pricing-table .pricing-table__action .pricing-table-button {background-color: #6ec1e4;}
.elementor-widget-jet-pricing-table  .pricing-table__action .pricing-table-button {font-family: "Roboto",Sans-serif;font-weight: 500;}
.elementor-widget-jet-progress-bar .jet-progress-bar__title-text {font-family: "Roboto",Sans-serif;font-weight: 600;}
.elementor-widget-jet-progress-bar .jet-progress-bar__percent {font-family: "Roboto",Sans-serif;font-weight: 600;}
.elementor-widget-jet-scroll-navigation .jet-scroll-navigation__label {font-family: "Roboto",Sans-serif;font-weight: 600;}
.elementor-widget-jet-scroll-navigation .jet-scroll-navigation__item .jet-scroll-navigation__dot {background-color: #54595f;}
.elementor-widget-jet-scroll-navigation .jet-scroll-navigation__item.invert .jet-scroll-navigation__dot {background-color: #7a7a7a;}
.elementor-widget-jet-scroll-navigation .jet-scroll-navigation__item:hover .jet-scroll-navigation__dot {background-color: #61ce70;}
.elementor-widget-jet-scroll-navigation .jet-scroll-navigation__item.active .jet-scroll-navigation__dot {background-color: #6ec1e4;}
.elementor-widget-jet-services .jet-services__title-text {font-family: "Roboto Slab",Sans-serif;font-weight: 400;}
.elementor-widget-jet-services .jet-services__desc {font-family: "Roboto",Sans-serif;font-weight: 400;}
.elementor-widget-jet-services .jet-services__button {background-color: #6ec1e4;}
.elementor-widget-jet-services  .jet-services__button {font-family: "Roboto",Sans-serif;font-weight: 500;}
.elementor-widget-jet-slider .jet-slider .slider-pro .jet-slider__item {background-color: #54595f;}
.elementor-widget-jet-slider .jet-slider .sp-image-container:after {background-color: #54595f;}
.elementor-widget-jet-slider .jet-slider__title {font-family: "Roboto",Sans-serif;font-weight: 400;}
.elementor-widget-jet-slider .jet-slider__subtitle {font-family: "Roboto",Sans-serif;font-weight: 400;}
.elementor-widget-jet-slider .jet-slider__desc {font-family: "Roboto",Sans-serif;font-weight: 400;}
.elementor-widget-jet-slider .jet-slider__button--primary {background-color: #6ec1e4;}
.elementor-widget-jet-slider  .jet-slider__button--primary {font-family: "Roboto",Sans-serif;font-weight: 500;}
.elementor-widget-jet-slider .jet-slider__button--secondary {background-color: #54595f;}
.elementor-widget-jet-slider  .jet-slider__button--secondary {font-family: "Roboto",Sans-serif;font-weight: 500;}
.elementor-widget-jet-slider .jet-slider .sp-buttons .sp-button:hover {background-color: #6ec1e4;}
.elementor-widget-jet-slider .jet-slider .sp-buttons .sp-button.sp-selected-button {background-color: #6ec1e4;}
.elementor-widget-jet-slider .jet-slider .sp-thumbnail-container:before {border-color: #6ec1e4;}
.elementor-widget-jet-slider .jet-slider .sp-thumbnail-container:hover:before {border-color: #54595f;}
.elementor-widget-jet-slider .jet-slider .sp-thumbnail-container.sp-selected-thumbnail:before {border-color: #6ec1e4;}
.elementor-widget-jet-subscribe-form .jet-subscribe-form__input {font-family: "Roboto",Sans-serif;font-weight: 500;}
.elementor-widget-jet-subscribe-form .jet-subscribe-form__input:focus {font-family: "Roboto",Sans-serif;font-weight: 500;}
.elementor-widget-jet-subscribe-form .jet-subscribe-form__input.mail-invalid {font-family: "Roboto",Sans-serif;font-weight: 500;}
.elementor-widget-jet-subscribe-form .jet-subscribe-form__submit {background-color: #6ec1e4;}
.elementor-widget-jet-subscribe-form  .jet-subscribe-form__submit {font-family: "Roboto",Sans-serif;font-weight: 500;}
.elementor-widget-jet-subscribe-form .jet-subscribe-form--response-success .jet-subscribe-form__message span {font-family: "Roboto",Sans-serif;font-weight: 500;}
.elementor-widget-jet-subscribe-form .jet-subscribe-form--response-error .jet-subscribe-form__message span {font-family: "Roboto",Sans-serif;font-weight: 500;}
.elementor-widget-jet-team-member .jet-team-member__name .jet-team-member__name-first {font-family: "Roboto",Sans-serif;font-weight: 400;}
.elementor-widget-jet-team-member .jet-team-member__name .jet-team-member__name-last {font-family: "Roboto",Sans-serif;font-weight: 400;}
.elementor-widget-jet-team-member .jet-team-member__position {font-family: "Roboto",Sans-serif;font-weight: 400;}
.elementor-widget-jet-team-member .jet-team-member__desc {font-family: "Roboto",Sans-serif;font-weight: 600;}
.elementor-widget-jet-team-member .jet-team-member__button {background-color: #6ec1e4;}
.elementor-widget-jet-team-member  .jet-team-member__button {font-family: "Roboto",Sans-serif;font-weight: 500;}
.elementor-widget-jet-testimonials .jet-testimonials__title {font-family: "Roboto",Sans-serif;font-weight: 400;}
.elementor-widget-jet-testimonials .jet-testimonials__comment {font-family: "Roboto",Sans-serif;font-weight: 400;background-color: #6ec1e4;}
.elementor-widget-jet-testimonials .jet-testimonials__name {color: #54595f;font-family: "Roboto",Sans-serif;font-weight: 600;}
.elementor-widget-jet-testimonials .jet-testimonials__name a:hover {color: #54595f;}
.elementor-widget-jet-testimonials .jet-testimonials__position {color: #6ec1e4;font-family: "Roboto",Sans-serif;font-weight: 600;}
.elementor-widget-jet-testimonials .jet-testimonials__date {color: #7a7a7a;font-family: "Roboto",Sans-serif;font-weight: 600;}
.elementor-widget-jet-testimonials .jet-testimonials__instance .jet-arrow {background-color: #6ec1e4;}
.elementor-widget-jet-testimonials .jet-testimonials__instance .jet-arrow:hover {background-color: #61ce70;}
.elementor-widget-jet-testimonials .jet-testimonials__instance .jet-slick-dots li span {background-color: #7a7a7a;}
.elementor-widget-jet-testimonials .jet-testimonials__instance .jet-slick-dots li span:hover {background-color: #6ec1e4;}
.elementor-widget-jet-testimonials .jet-testimonials__instance .jet-slick-dots li.slick-active span {background-color: #61ce70;}
.elementor-widget-jet-timeline .jet-timeline-item .timeline-item__meta-content {font-family: "Roboto",Sans-serif;font-weight: 600;}
.elementor-widget-jet-timeline .jet-timeline-item .timeline-item__card-title {font-family: "Roboto",Sans-serif;font-weight: 600;}
.elementor-widget-jet-timeline .jet-timeline-item .timeline-item__card-desc {font-family: "Roboto",Sans-serif;font-weight: 400;}
.elementor-widget-jet-timeline .timeline-item__card-btn {font-family: "Roboto",Sans-serif;font-weight: 500;background-color: #61ce70;}
.elementor-widget-jet-timeline .timeline-item__point-content.timeline-item__point-content--text {font-family: "Roboto",Sans-serif;font-weight: 600;}