.elementor-827 .elementor-element.elementor-element-39a70ad5 {text-align: center;}
.elementor-827 .elementor-element.elementor-element-39a70ad5 .elementor-heading-title {color: var(--e-global-color-2dce07d7);}
.elementor-827 .elementor-element.elementor-element-39a70ad5 > .elementor-widget-container {padding: 5px 5px 5px 5px;background-color: var(--e-global-color-74a3918);}
.elementor-827 .elementor-element.elementor-element-6caefac4 {margin-top: 20px;margin-bottom: 0px;}